@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 7, 44, 47, 1;
    --background-start-rgb: 28, 24, 41, 1;
    --background-end-rgb: 48, 48, 48, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 7, 44, 47, 1;
    --background-start-rgb: 28, 24, 41, 1;
    --background-end-rgb: 48, 48, 48, 1;
  }
}

body {
  color: white;
  background: linear-gradient(
      to bottom,
      rgb(var(--foreground-rgb)),   rgb(var(--background-end-rgb)),rgb(var(--background-start-rgb))
    );  
}
.signupBtn{
  color: white;
  background: linear-gradient(
      to bottom,
      #008080,  #7B5FBF
    );  
    margin: auto;
    margin-top: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nunito{
  font-family:var(--font-nunito);
}
.inter{
  font-family:var(--font-inter);
}
.poppins{
  font-family:var(--font-poppins);
}
.outfit{
  font-family:var(--font-outfit);
}
.open_sans{
  font-family:var(--font-open_sans);
}
.hero-section .heading{
  background: linear-gradient(to right,#B09DDD, #008080, #B09DDD);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.background{
  background: linear-gradient(to bottom,#107B88, #6A63B6);
  
}
.msbox{
  background: linear-gradient(to bottom,#0A6B80, #2F2180);
  
}
.btn{
  background: linear-gradient(to bottom,#00FFFF, #A87BFF);
  
}
footer{
  
  position: relative;
  background-color: rgba(22, 24, 28, 0.5);
  color: #ffcb6633;
 
  
}
.bg{
  background: #021D1D;
}
.module {
  clip-path: 
    polygon(
      calc(100% - 50px) 0,
                100% 50px, 100% 100%,
                0 100%,
                0 0
    );
}
@media screen and (max-width: 600px){
  body{
    background: #021D1D;
  }
  table{
    font-size: 0.8em;
    overflow-x: scroll;
  }
}